<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>AutoLayout.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>B7474D001D0BE75E00944B91</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B7474D141D0BE75E00944B91</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B7474D1F1D0BE75E00944B91</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
